.App-gradient {
    background: linear-gradient( rgb(21, 14, 14) 10%,	rgb(61, 55, 55));
    height: 100%;
  }
  
#padding-buttons{
  padding-right: 3em;
}

#padding-img{
  padding: 0px;
}

#img-left{
  padding: 0px;
  border-radius: 35px 0px 0px 35px;
}

#img-right{
  padding: 0px;
  border-radius: 0px 35px 35px 0px;
}

